<div id="<%= dom_id duckmon %>">
 
  <img src="<%= duckmon.image %>" alt="image de duckmon">
  <p>
    <strong>Health point:</strong>
    <%= duckmon.health_point %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= duckmon.name %>
  </p>

  <p>
    <strong>Damages:</strong>
    <%= duckmon.damages %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= duckmon.description %>
  </p>

  <p>
    <strong>Attack name:</strong>
    <%= duckmon.attack_name %>
  </p>

  <p>
    <strong>Attack description:</strong>
    <%= duckmon.attack_description %>
  </p>

</div>
