<div class='card col-lg-3' id="<%= dom_id card %>">
  <p>
    <strong>Image card:</strong>
    <%= card.image_card %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= card.description %>
  </p>

  <p>
    <strong>Damages:</strong>
    <%= card.damages %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= card.action %>
  </p>

  <p>
    <strong>Attack names:</strong>
    <%= card.attack_names %>
  </p>

</div>
